<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/cadastro.css">
    <title>Cadastro</title>
</head>
<body>

    <div class="container">
        <div class="imagem">
            <img src="../assets/banner.png" alt="Banner do supermercado Imperial" class="img">
        </div>

        <div class="conteudo">
            <h2 tabindex="1" aria-label="Faça seu cadastro">Faça seu cadastro</h2>
            <form action="">
                <input type="text" placeholder="Digite seu nome" tabindex="2" aria-label="Digite seu nome">
                <input type="email" placeholder="Digite seu email" tabindex="3" aria-label="Digite seu email">
                <input type="text" placeholder="Digite seu endereço" tabindex="4" aria-label="Digite seu endereço">
                <input type="tel" placeholder="Digite seu telefone" tabindex="5" aria-label="Digite seu telefone">
                <input type="password" placeholder="Digite sua senha" tabindex="6" aria-label="Digite sua senha">
                <button type="submit" class="btn" tabindex="7" aria-label="Confirmar cadastro">Cadastrar</button>
            </form>
        </div>
    </div>
    
</body>
</html>